.container {
  display: flex;
  background: #ccc;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video {
  width: 100%;
  display: block;
}

.c-video {
  width: 100%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  &:hover .controls {
    transform: translateY(0);
  }
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(100%) translateY(-5px);
  transition: all 0.2s;
}

.buttons {
  button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    &:before {
      content: '';
      width: 30px;
      height: 30px;
      display: inline-block;
      font-size: 28px;
      color: #fff;
      -webkit-font-smoothing: antialiased;
    }
    &.play {
      &:before {
        content: '';
      }
    }
    &.pause {
      &:before {
        content: '';
      }
    }
  }
}

.orange-bar {
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}

.orange-juice {
  height: 10px;
  width: 0;
  background-color: orangered;
  transition: width 1s ease, visibility 1s linear;
}
